---
title: QR Code
width: wide
page: true
model: json/qr-code-example.json
---

{{#>_layout-container}}
<div class="nsw-grid">
  <div class="nsw-col">
    {{>_qr-code model}}
  </div>
</div>
{{/_layout-container}}
