---
title: QR Code
width: narrow
tabs: true
directory: qr-code
intro: Qr Code renders a scannable QR Code.
model: json/qr-code-example.json
meta-description: Qr Code renders a scannable QR Code.
meta-index: true
---

<h3>Default</h3>
{{#>_docs-example}}{{>_qr-code model}}{{/_docs-example}}
